.container{
    padding: 1rem 2rem;
    /* background-color: var(--backgroundColor); */
    background-color: white;
    color: var(--purple);
    font-size: 2.5rem;
    /* letter-spacing: 10px; */
    word-spacing: 1rem;
    box-shadow: var(--pBShadow);
    font-weight: bold;
    width: 70%;
}

@media (max-width: 768px) {
    /* Medium screens */
    .container {
      width: 85%;
    }
  }
  
  @media (max-width: 576px) {
    /* Small screens */
    .container {
      width: 100%;
    }
  }