.container {
  display: flex;
  background-color: var(--backgroundColor);
  box-shadow: var(--pBShadow);
  justify-content: flex-end;
  padding: 6px 1rem;
  gap: 1.5rem;
  width: 73.5%; /* Default width for big screens */
}

.box {
  color: var(--displayWord);
  font-weight: normal;
  display: flex;
  flex-direction: column;
  gap: 0;
  /* justify-content: center; */
  align-items: center;
}
.box > div:last-child {
  color: var(--lightGray);
  font-weight: normal;
  font-family: monospace;
  font-size: 1rem;
}

.startTest {
  position: fixed;
  padding: 1rem 2rem;
  font-weight: bold;
  border: 1px solid var(--lightGray);
  font-size: 1.1rem;
  top: 70%;
  left: 40%;
  background: var(--purple);
  transform: translateX(-50%);
  cursor: pointer;
  border-radius: 5px;
}

.endTest,
.resetTest {
  padding: 0.5rem 1.3rem;
  box-shadow: var(--pBShadow);
  cursor: pointer;
  text-transform: capitalize;
  letter-spacing: 3px;
  font-style: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
}
.endTest {
  color: var(--wrong);
  /* background-color: var(--backgroundColor); */
}

.resetTest {
  color: var(--purple);
  margin-right: 5.7rem;
}
@media (max-width: 768px) {
  /* Medium screens */
  .container {
    width: 85%;
  }
  .resetTest {
    margin-right: auto;
  }
}

@media (max-width: 576px) {
  /* Small screens */
  .container {
    width: 100%;
  }
  .resetTest {
    margin-right: auto;
  }
}
