@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

:root{
  --backgroundColor:#0079FF;
  --success:#00DFA2;
  --wrong:rgb(255, 0, 96);
  --lightGray:#ACBCFF;
  --displayWord:#2B2730;
  --purple:#6554AF;
  --pBShadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
body{

  background-color: var(--backgroundColor);
}
.app {
  margin: 0;
  padding: 0;
  padding-top: 2rem;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
 
  background-color: var(--backgroundColor);
  display: grid;
  justify-content: center;
  gap: 1rem;
  grid-template-columns: 70vw;
  grid-template-rows: repeat(1fr,6);
  align-items: center;
  /* display: flex;
  flex-direction: column;
  gap: 2rem; */
  align-items: center;
  height: max-content;
}


.active{
background-color: var(--success);
color: white;
}

.displayNone{
  display: none;
}

.displayBlock{
  display: block;
}

.spaceBar{
  width: 15rem;
  position: absolute;
  top: 120%;
  left: 28%;
  /* transform: translateY(150%); */
  /* transform: translateX(-150%); */
}

