@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

:root{
  --backgroundColor:#0079FF;
  --success:#00DFA2;
  --wrong:rgb(255, 0, 96);
  --lightGray:#ACBCFF;
  --displayWord:#2B2730;
  --purple:#6554AF;
  --pBShadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.app {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--backgroundColor);
  display: grid;
  justify-content: center;
  gap: 1rem;
}


.active{
background-color: var(--success);
color: white;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
