
.container{
width: 70%;
/* margin-left:-3rem */
}

.inputBox{
    outline: none;
    border: none;
    padding: 1rem 2rem;
    color:var(--displayWord);
    font-size: 1.5rem;
    font-family: poppins;
    letter-spacing: 8px;
    width: 100%;
    box-shadow: var(--pBShadow);
    outline: none;
    /* background-color: var(--backgroundColor); */
    background-color: var(--lightGray);
    color: var(--displayWord);
}

.inputBox:focus{
    outline: none;
    border: none;
}


@media (max-width: 768px) {
    /* Medium screens */
    .container {
      width: 85%;
    }
  }
  
  @media (max-width: 576px) {
    /* Small screens */
    .container {
      width: 100%;
    }
  }